@{
    Layout = "~/Shared/_Layout.cshtml";
}
@*would normally use render page for this sidebar but hw required rendersection*@
@section sidebar{
    <ul>
        <li><A href="WebPage1.cshtml">Page 1</A></li>
        <li><A href="WebPage2.cshtml">Page 2</A></li>
        <li><A href="WebPage3.cshtml">Page 3</A></li>
        <li><A href="WebPage4.cshtml">Page 4</A></li>
    </ul>
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3>Form</h3>
        <form method="get" action="/WebPage1.cshtml">
            <br/>
            Name: <input id="txtName" type="text" name="name"/>
            <br/><br/>
            Gender: <input id="rdGenderM" type="radio" value="Male" name="gender"/>Male 
                    <input id="rdGenderF" type="radio" value="Female"name="gender"/> Female
            <br/><br/>
            Age: <input id="txtAge" type="text" name="age"/>
            <br/><br/>
            <input type="submit" />
        </form>
    </body>
</html>
