@{
    Layout = "~/Shared/_Layout.cshtml";
}



@{ var name = Request["name"]; var gender = Request["gender"]; var age = Request["age"]; } 
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>This is WebPage1</h2>
        <table class="table-striped table-bordered">
            <tr>
            <th>  Name  </th>
            <th>  Gender  </th>
            <th>  Age  </th>
            </tr>
            <tr>
                <td>@name</td>
                <td>@gender</td>
                <td>@age</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Gender</td>
                <td>Age</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Gender</td>
                <td>Age</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Gender</td>
                <td>Age</td>
            </tr>
            @*THIS is a commment I'm adding*@
        </table>
    </body>
</html>
