@{
    Layout = "~/Shared/_Layout.cshtml";
}

@section sidebar{
    <ul>
        <li><A href="WebPage1.cshtml">Page 1</A></li>
        <li><A href="WebPage2.cshtml">Page 2</A></li>
        <li><A href="WebPage3.cshtml">Page 3</A></li>
        <li><A href="WebPage4.cshtml">Page 4</A></li>
    </ul>
}

@{ var name = Request["name"]; var gender = Request["gender"]; var age = Request["age"]; } 
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>This is WebPage1</h2>
        <table>
            <tr>
            <th>  Name  </th>
            <th>  Gender  </th>
            <th>  Age  </th>
            </tr>
            <tr>
                <td>@name</td>
                <td>@gender</td>
                <td>@age</td>
            </tr>
            @*THIS is a commment I'm adding*@
        </table>
    </body>
</html>
