<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css"/>
<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="~/js/script.js"></script>

<div class="row" height="70%">
    <section class="col-md-3 col-sm-6 col-md-offset-0 footer">
        <img class="icon, img-rounded" src="Img/spaceCat_1.jpg" height="150" width="150" alt="icon" />
        <h3>Footer Section 1</h3>
        <p>section 1 info</p>
    </section>
    <section class="col-md-3 col-sm-6 col-md-offset-0 footer">
        <img class="icon, img-rounded" src="~/Img/spaceCat_2.jpg" height="150" width="150" alt="icon" />
        <h3>Footer Section 2</h3>
        <p>section 1 info</p>
    </section>
    <section  class="col-md-3 col-sm-6 col-md-offset-0 ">
        <div class="center">
            <img class="icon, img-rounded" src="~/Img/spaceCat_3.jpg" height="150" width="150" alt="icon" />
            <h3>Footer Section 3</h3>
            <p>section 1 info</p>
        </div>
    </section>
    <section class="col-md-3 col-sm-6 col-md-offset-0 ">
        <div class="center">
            <img class="icon, img-rounded" src="~/Img/spaceSloth_1.jpg" height="150" width="150" alt="icon" />
            <h3>Footer Section 4</h3>
            <p>section 1 info</p>
        </div>
    </section>
</div>
