<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css" />
<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="~/js/script.js"></script>
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="col-xs-3 col-sm-2 col-md-1">
            <A href="~/WebPage1.cshtml">
                <img src="~/Img/sloth.svg" />
            </A>
        </div>
        <nav class="nav navbar-default " >
            
            <ul class="nav nav-pills">
                <li><A href="~/WebPage1.cshtml">Page 1</A></li>
                <li><A href="~/WebPage2.cshtml">Page 2</A></li>
                <li><A href="~/WebPage3.cshtml">Page 3</A></li>
                <li><A href="~/WebPage4.cshtml">Page 4</A></li>
            </ul>
        </nav>
    </body>
</html>
