*{margin: 0px; padding: 0px;}
.wrapper {margin: 0 auto 0 auto; width: 85%;}
aside{ float: left; font-size:25px; width: 20%}
.content, aside{min-height: 500px;}
footer, .nav{background-color:#b9b0b0}


